<h1 id="heading" class="m-5">Card</h1>
<hr>

<div class="container">

    <!-- card -->
    <mat-card class="example-card">

        <!-- header -->
        <mat-card-header>

            <!-- avatar -->
            <div mat-card-avatar class="example-header-image"></div>

            <!-- title & subtitle -->
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>

        </mat-card-header>

        <!-- img -->
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

        <!-- content -->
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>

        <!-- action -->
        <mat-card-actions>
             <button mat-mini-fab color='warn' aria-label="Example icon button with a home icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-mini-fab color='primary' aria-label="Example icon button with a home icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-card-actions>

    </mat-card>

</div>

<!-- 
    mat-card
    mat-card-header
    mat-card-title
    mat-card-subtitle
    mat-card-avatar
    img mat-card-image :
                        mat-card-sm-image  
                        mat-card-md-image  
                        mat-card-lg-image  
    mat-card-content
    mat-card-actions
    mat-card-footer
 -->