<h1 id="heading" class="m-5">Budge</h1>
<hr>

<div class="container">
    <div class="row">

        <!-- overlap false -->
        <div class="col-lg-4 mt-5">
            <p><span matBadge="4" matBadgeOverlap="false">Text with a badge</span></p>
        </div>

        <!-- size large -->
        <div class="col-lg-4 mt-5">
            <p><span matBadge="1" matBadgeSize="large">Text with large badge</span></p>
        </div>

        <!-- badge position -->
        <div class="col-lg-4 mt-5">
            <p>
                Button with a badge on the left
                <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
                    Action
                </button>
            </p>
        </div>

        <!-- hide on click -->
        <div class="col-lg-6 mt-5">
            <p>
                Button toggles badge visibility
                <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
                    Hide
                </button>
            </p>
        </div>

        <!-- icon with  -->
        <div class="col-lg-6 mt-5">
            <p>
                Icon with a badge
                <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
            </p>
        </div>

    </div>
</div>

<!--
    matBadgeOverlap 
    matBadgePosition
    color
    matBadge
    matBadgeColor
    matBadgeSize
    [matBadgeHidden]
 -->