h1 {
    margin: 30px 0;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color:#428bca;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
table {
    text-align: center;
}