<div class="page-area">
    
    <!-- heading -->
    <h1 class="text-center">Manage Employees</h1>
    

    <!-- manage Employees -->
    <div class="container border-top p-5" >
        <div class="row">

            <!-- add Employee -->
            <div class="col-md-4">
                <h2>Add Employees</h2>
                <form>

                    <!-- Employee id -->
                    <div class="form-group">
                        <label for="enrollment"> Enrollment No.</label>
                     <input type="text" class="form-control" id="enrollment" [(ngModel)]='employee.enrollment' name="enrollment">
                    </div>

                    <!-- Employee name -->
                    <div class="form-group">
                        <label for="name"> Name</label>
                     <input type="text" class="form-control" id="name" [(ngModel)]='employee.name' name="name">
                    </div>
                    
                    <!-- Employee designation -->
                    <div class="form-group">
                        <label for="designation"> Designation</label>
                        <input type="text" class="form-control" id="designation" [(ngModel)]='employee.designation' name="designation">
                    </div>
                    
                    <!-- Employee company -->
                    <div class="form-group">
                        <label for="company"> Company</label>
                     <input type="text" class="form-control" id="company" [(ngModel)]='employee.company' name="company">
                    </div>
                    
                    <!-- button -->
                    <button type="button" class="btn btn-sm btn-primary m-2" (click)="addEmployee()" [disabled]="isUpdate">Add</button> 
                    <button type="button" class="btn btn-sm btn-success mr-2" (click)="addEmployee()" [disabled]="!isUpdate">Update</button>
                    <button type="button" class="btn btn-sm btn-info" routerLink="/firebase"> Go to Firebase CRUD</button>

                </form>
            </div>

            <!-- display Employee -->
            <div class="col-md-8">
                <h2>Employees List</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Enrollment No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Ddesignation</th>
                            <th scope="col">Company</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let employee of employees ; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{employee.enrollment}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.designation}}</td>
                            <td>{{employee.company}}</td>
                            <td class="text-center"> 
                                <a (click)="updateEmployee(employee)" class="text-info">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td (click)="deleteEmployee(employee.id)" class="text-center"> 
                                <a class="text-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- loader -->
                <!-- <div class="text-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div> Fetching Employees...
                </div> -->

            </div>

        </div>
    </div>

</div>