<!-- heading -->
<h3 class="mt-3">Color Pantone Information</h3>

<!-- redirect to form -->
<div class="container">
  <button class="btn btn-sm btn-primary" routerLink='/form'>form</button>
</div>
<!-- table -->
<table class="table table-bordered table-striped container">

  <thead class="table-primary">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Year</th>
      <th>Color</th>
      <th>Pantone Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of _userArray">
      <th>{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.year}}</td>
      <td>{{user.color}}</td>
      <td>{{user.pantone_value}}</td>
    </tr>
  </tbody>
</table>