/* dashboard */
h5{
    font-size: 20px;
    color: #ffffff;
}
nav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b45f06;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
nav a:hover {
    color: gray;
}
.birthday {
    margin-left: 30%;
    text-align: center;
    font-size: 50px;
    color: brown;
}
.align {
    margin: 40px 0 0 500px;
    display: flex;
    text-align: center;   
}
.box1 {
    background-color: #fddcbc;
    min-width: 220px;
    min-height: 100px;
    border: 1px solid black;

}
.box2 {
    background-color: #c1b3e4;
    min-width: 220px;
    min-height: 100px;
    border: 1px solid black;
    margin-left: 100px;
}
.box3 {
    background-color: #ffd2d2;
    min-width: 220px;
    min-height: 100px;
    border: 1px solid black;
    margin-left: 100px;
}
.bday {
    font-size: 30px;
    margin: 100px 0 0 700px;
}
