.input {
    width: 70%;
}

.align {
    padding: 10px 0 0 100px;
}
.align1 {
    padding: 10px 0 0 100px;
    margin: 5px 0;
    padding-left: 120px;
}

h1, h6{
    text-align: center;
}

.box {
    padding: 20px 0;
    margin: 20px auto;
    width: 30%;
    border: solid;
    border-color: black;
    background-color: rgb(235, 214, 175);
}

.box1 {
    margin: 50px auto;
    width: 30%;
    border: solid;
    border-color: black;
}

.btn {
    margin: 10px 100px;
    width: 54%;
}

select {
    margin-left: 45px;
    width: 70%;
}