.card {
    border: 1px solid #24a0ed;
}
h3 {
    margin: 30px auto;
}
.card-header {
    background-color: #24a0ed;
    color: white;
}
label {
    font-weight: bold;
}
button {
    margin-left: 25px;
}