.required {
    color: red;
}

#date, #email {
    width: 440px;
}

input{
    border-radius: 0;
}

#name, #contact {
    display: inline-flex;
}

h5 {
    margin-top: 20px;
}

label {
    font-size: 12px;
}

#lbl {
    margin-left: 10px;
    font-size: 14px;
}

#participants {
    width: 120px;
}

#nm, #code {
    margin-right: 30px;
}

#code {
    width: 120px;
}

#number {
    width: 290px;
}