<!-- form -->
<form [formGroup]="form" class="container"  (ngSubmit)="onSubmit()">

    <h4>Cruise Specifics</h4><hr>
    <div class="form-group">
    
        <!-- date -->
        <div>
            <h5>Date Of Cruise <span class="required">*</span></h5>

            <!-- date input-->
            <div class="form-group" id="date">
                <input class="form-control" type="datetime-local" formControlName="date">
                <label for="date" class="form-label">&nbsp;&nbsp; Day--Month--Year &nbsp; Hour : Minute</label>
            </div>

            <!-- date error -->
            <div *ngIf="date && date.invalid && date.touched" class="alert alert-danger">
                <div *ngIf="date.errors.required">Date is required.</div>
            </div>
            
        </div>

        <!-- Participants -->
        <div>
            <h5>No. of Participants <span class="required">*</span></h5>
            <input
                formControlName="participants" 
                id="participants"
                type="text"
                class="form-control"
                placeholder="ex: 23">
    
            <!-- errors -->
            <div *ngIf="participants.touched && participants.invalid" class="alert alert-danger">
                <div *ngIf="participants.errors.required">This field is required.</div>
                <div *ngIf="participants.errors.pattern">Only Digit is Valid.</div>
            </div>
        </div>

        <!-- food -->
        <div>
            <h5>Food Request</h5>
            <input 
                type="checkbox" 
                formControlName="food" 
                name="breakfast" 
                value="breakfast">
            <label id="lbl" for="breakfast">Breakfast</label><br>

            <input 
                type="checkbox" 
                formControlName="food" 
                name="lunch" 
                value="lunch">
            <label id="lbl" for="lunch">Lunch</label><br>

            <input 
                type="checkbox" 
                formControlName="food" 
                name="dinner" 
                value="dinner">
            <label id="lbl" for="vehicle3">Dinner</label>
        </div>

        <!-- contact -->
        <div>
            <h5>Want to add contact information?</h5>
            <input 
                type="radio" 
                formControlName="contact" 
                name="contact" 
                value="yes">
            <label id="lbl" for="yes">Yes</label><br>

            <input 
                type="radio" 
                formControlName="contact" 
                name="contact" 
                value="no">
            <label id="lbl" for="no">No</label>
        </div><hr>

        <!-- Contact Informations -->
        <div *ngIf="contact.value == 'yes'">
            <h4>Contact Informations</h4><hr>

            <!-- Name -->
            <div formArrayName="name">
                <h5>Full Name <span class="required">*</span></h5>

                <!-- name's group -->
                <div *ngFor="let nam of name.controls; let i=index" [formGroupName]="i">

                    <!-- row set -->
                    <div id="name">
                        <!-- first Name -->
                        <div id="nm">
                            <input
                                formControlName="firstName"
                                type="text"
                                class="form-control">
                            <label for="firstName">First Name</label>
                        </div>

                        <!-- last Name -->
                        <div id="nm">
                            <input
                                formControlName="lastName"
                                type="text"
                                class="form-control">
                            <label for="lastName">Last Name</label>
                        </div>
                    </div>

                    <!-- name errors -->
                    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">This field is required.</div>

                </div>

            </div>

            <!-- email -->
            <div>
                <h5>Email <span class="required">*</span></h5>

                <!-- email input -->
                <input
                    formControlName="email"
                    type="email"
                    id="email"
                    class="form-control"
                    placeholder="ex: myname@example.com">
            
                <!-- email errors -->
                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    <div *ngIf="email.errors.required">This field is required.</div>
                    <div *ngIf="email.errors.email">Enter a valid e-mail address.</div>
                </div>

            </div>

            <!-- phone -->
            <div formArrayName="phone">
                <h5>Phone Number <span class="required">*</span></h5>

                <!-- phone's group -->
                <div *ngFor="let phn of phone.controls; let i=index" [formGroupName]="i">

                    <!-- row set -->
                    <div  id="contact">
                        <!-- code -->
                        <div id="code">
                            <input
                                formControlName="code" 
                                type="text"
                                class="form-control">
                            <label for="code">Area Code</label>
                        </div>

                        <!-- number -->
                        <div id="number">
                            <input
                                formControlName="number" 
                                type="text"
                                class="form-control">
                            <label for="number">Phone Number</label>
                        </div>
                    </div>

                    <!-- phone errors -->
                    <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">This field is required.</div>

                </div>

            </div>

            <!-- addtional request -->
            <div>
                <h5>Addtional Requests</h5>
                <textarea name="addtional" id="addtional" cols="58" rows="5"></textarea>
            </div>

            <!-- submit -->
            <input type="submit" class="btn btn-success m-2" [disabled]="form.invalid" value="submit">

        </div>
    </div>

</form>