form {
    width: 500px;
    background-color: honeydew;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 5px;
}

.required {
    color: red;
}

h5 {
    margin-top: 15px;
}

label {
    font-size: 13px;
    margin-left: 10px;
}

#date {
    width: 300px;
}

#participants {
    width: 150px;
}

#lbl {
    font-size: 15px;
}

#code {
    width: 120px;
    margin-left: 18px;
}