<!-- form -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">

    <!-- common form -->
    <div formGroupName="cruis">

        <!-- heading -->
        <hr>
        <h1>Cruis Specifics</h1>
        <hr>

        <!-- date -->
        <div id="date">
            <h5>Date and Time <span class="required">*</span></h5>

            <!-- date input -->
            <input 
                class="form-control" 
                type="datetime-local" 
                formControlName="date">
            <label for="date">day-month-year &nbsp; hour : minutes</label>

            <!-- date error -->
            <div *ngIf="date.invalid && date.touched" class="alert alert-danger">
                <div *ngIf="date.errors.required">Date is required.</div>
            </div>

        </div>

        <!-- participants -->
        <div>
            <h5>No. of Participants <span class="required">*</span></h5>

            <!-- participants input -->
            <input 
                class="form-control" 
                type="number" 
                formControlName="participants" 
                id="participants"
                placeholder="ex. 23">

            <!-- participants error -->
            <div *ngIf="participants.invalid && participants.touched" class="alert alert-danger">
                <div *ngIf="participants.errors.required">Participants are required.</div>
            </div>
        </div>

        <!-- food group -->
        <div formGroupName="food" class="form-group">
            <h5>Food Request</h5>

            <!-- breakfast -->
            <div>
                <input 
                    type="checkbox"  
                    formControlName="breakfast" 
                    value="breakfast">
                <label id="lbl" for="breakfast">Breakfast</label>
            </div>

            <!-- lunch -->
            <div>
                <input 
                    type="checkbox"  
                    formControlName="lunch" 
                    value="lunch">
                <label id="lbl" for="lunch">Lunch</label>
            </div>

            <!-- dinner -->
            <div>
                <input 
                    type="checkbox" 
                    formControlName="dinner" 
                    value="dinner">
                <label id="lbl" for="dinner">Dinner</label>
            </div>

        </div>

        <!-- contact option fill or not -->
        <div (change)="onChangeOption()">
            <h5>Want to add contact information? <span class="required">*</span></h5>

            <!-- yes -->
            <div>
                <input 
                    type="radio" 
                    value="yes"  
                    formControlName="chooseOption">
                <label id="lbl" for="yes">Yes</label>
            </div>

            <!-- no -->
            <div>
                <input 
                    type="radio"
                    value="no"
                    formControlName="chooseOption">
                <label id="lbl" for="no">No</label>
            </div>

             <!-- chooseOption error -->
             <div *ngIf="chooseOption.invalid && chooseOption.touched" class="alert alert-danger">
                <div *ngIf="chooseOption.errors.required">Choose Option is required.</div>
            </div>

        </div>
    </div>

    <!-- contact form group -->
    <div formGroupName="contactInformation" *ngIf="chooseOption.value=='yes'">
        
        <!-- heading -->
        <hr>
        <h1>Contact Information</h1>
        <hr>

        <!-- full name -->
        <div formGroupName="fullName" class="form-group">
            <h5>Full Name <span class="required">*</span></h5>

            <!-- name -->
            <div class="row">

                <!-- firstName -->
                <div class="col">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="firstName">
                    <label for="firstName">First Name</label>

                    <!-- firstName error -->
                    <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>
                        <div *ngIf="firstName.errors.minlength">Enter Minimum {{ firstName.errors.minlength.requiredLength }} Character.</div>
                        <div *ngIf="firstName.errors.maxlength">Only {{ firstName.errors.maxlength.requiredLength }} Character Allowed.</div>
                        <div *ngIf="firstName.errors.pattern">Please, Enter Valid First Name.</div>
                    </div>
                </div>

                <!-- lastName -->
                <div class="col">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="lastName">
                    <label for="lastName">Last Name</label>

                    <!-- lastName error -->
                    <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">Last Name is required.</div>
                        <div *ngIf="lastName.errors.minlength">Enter Minimum {{ lastName.errors.minlength.requiredLength }} Character.</div>
                        <div *ngIf="lastName.errors.maxlength">Only {{ lastName.errors.maxlength.requiredLength }} Character Allowed.</div>
                        <div *ngIf="lastName.errors.pattern">Please, Enter Valid Last Name.</div>

                    </div>
                </div>

            </div>
        </div>

        <!-- email -->
        <div>
            <h5>Email <span class="required">*</span></h5>

            <!-- email input -->
            <input 
                class="form-control" 
                type="email" 
                formControlName="email">

            <!-- email error -->
            <div *ngIf="email && email.invalid && email.touched" class="alert alert-danger">
                <div *ngIf="email.errors.required">Email is required.</div>
                <div *ngIf="email.errors.pattern">Please, Enter Valid e-mail.</div>
            </div>
        </div>

        <!-- phone -->
        <div formGroupName="phone" class="form-group">
            <h5>Phone Number <span class="required">*</span></h5>

            <!-- name -->
            <div class="row">

                <!-- Area code -->
                <div>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="code" 
                        id="code">
                    <label for="code">Area Code</label>

                    <!-- area code error -->
                    <div *ngIf="code.invalid && code.touched" class="alert alert-danger">
                        <div *ngIf="code.errors.required">Area Code is required.</div>
                        <div *ngIf="code.errors.minlength">Enter Minimum {{ code.errors.minlength.requiredLength }} Digit.</div>
                        <div *ngIf="code.errors.maxlength">Only {{ code.errors.maxlength.requiredLength }} Digit Allowed</div>
                        <div *ngIf="code.errors.pattern">Please, Enter Valid Code.</div>
                    </div>
                </div>

                <!-- number -->
                <div class="col">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="number">
                    <label for="number">Phone Number</label>

                    <!-- number error -->
                    <div *ngIf="number.invalid && number.touched" class="alert alert-danger">
                        <div *ngIf="number.errors.required">Phone Number is required.</div>
                        <div *ngIf="number.errors.minlength || number.errors.maxlength">Please, Enter 10 Digit Contact Number.</div>
                        <div *ngIf="number.errors.pattern">Please, Enter Valid Contact Number.</div>
                    </div>
                </div>

            </div>
        </div>

        <!-- additional request -->
        <div>
            <h5>Additional Requests</h5>
            <textarea 
                class="form-control" 
                formControlName="additionalRequests" 
                rows="3">
             </textarea>
        </div>

    </div>

    <!-- submit button -->
    <button class="btn btn-success m-2" [disabled]="form.invalid">Submit</button>

    <!-- registration detail -->
    <button class="btn btn-primary" routerLink="/registration-details">Registration Details</button>
    
</form>