<h1 id="heading" class="m-5">Progress Bar & Spinner</h1>
<hr>

<div class="container">
    <div class="row">

        <!-- determinate progress bar -->
        <div class="col-lg-6">
            <h3>Mode : Determinate</h3>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
    
        <!-- indeterminate Progress bar -->
        <div class="col-lg-6">
            <h3>Mode : Interminate</h3>
            <mat-progress-bar mode="indeterminate" color='warn'></mat-progress-bar>
        </div>
    
        <!-- buffer Progress bar -->
        <div class="col-lg-6 mt-5">
            <h3>Mode : Buffer</h3>
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
    
        <!-- query Progress bar -->
        <div class="col-lg-6 mt-5">
            <h3>Mode : Query</h3>
            <mat-progress-bar mode="query" color='accent'></mat-progress-bar>
        </div>

        <!--  -->
        <div>

        </div>

    </div>


</div>

<!-- 
    mat-progress-bar
    value

    Mode : determinate, interminate, buffer, query
 -->