<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark container mt-5">

    <!-- link -->
    <a class="navbar-brand" [routerLink]="['/']">Khodidas Gamdha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <!-- home -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
            </li>

            <!-- list user -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>

        </ul>

        <!-- button -->
        <button class="btn btn-sm btn-success" *ngIf="!isLogin()" [routerLink]="['/login']">Login</button>
        <button class="btn btn-sm btn-primary ml-2" *ngIf="!isLogin()" [routerLink]="['/registration']">Registration</button>
        <button class="btn btn-sm btn-danger" *ngIf="isLogin()" (click)="authService.logOut()">Log Out</button>
    
    </div>
</nav>

<!-- heading -->
<h1 class="text-center m-5" >!! PWA App !!</h1>
<h3 class="text-center m-5">Employee Details...</h3>

<!-- subcribe unsubscribe btn -->
<div class="d-flex justify-content-end container mb-2" id="subscribe">
    <button *ngIf="!isSubscribed" class="btn btn-danger btn-sm" (click)="showNotification()">Subscribe</button>
    <button *ngIf="isSubscribed" class="btn btn-danger btn-sm" (click)="showNotification()">Unsubscribe</button>
</div>

<!-- this data also show when user offline(create dataGroup in ngsw-config.json file) -->
<table class="table table-bordered table-hover container">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let dt of data">
            <th>{{dt.id}}</th>
            <td>{{dt.email}}</td>
            <td>{{dt.first_name}}</td>
            <td>{{dt.last_name}}</td>
            <td><img class="card-img-top" [src]='dt.avatar' alt="Card image cap"></td>
        </tr>
    </tbody>
</table> 