<div class="container">   
    <h2 id="heading" >Login</h2> 
    <form [formGroup]="form"> 

        <!-- username -->
        <div class="form-group">    
            <label for="email">Username</label>    
            <input 
                formControlName="email" 
                type="text" 
                name="email" 
                class="form-control"
                #email />

            <!-- error -->
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors.required">Please, Enter Email</div>
            </div> 
        </div>    

        <!-- password -->
        <div class="form-group">    
            <label for="password">Password</label>    
            <input 
                formControlName="password" 
                type="password" 
                name="password" 
                class="form-control"
                #userPassword />  

            <!-- error -->
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">Please, Enter Password</div>
            </div>  
        </div>  
        
        <!-- login -->
        <!-- Calling SignIn Api from AuthService -->
        <div class="form-group row">
            <div>
                <button type="button" class="btn btn-sm btn-info ml-5" routerLink="/home"> <- Back</button> 
                <button type="button" class="btn btn-sm btn-success ml-2" (click)="authService.login(email.value, userPassword.value)">Login</button> 
                <button type="button" class="btn btn-sm btn-warning ml-2" (click)="resetPassword()">Forgot Password</button> 
            </div>

            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn btn-sm btn-danger ml-2" (click)="authService.googleAuth()">Log in with Google</button>
            </div>
            
            <div>
                <span class="ml-2">Don't have an account ?<a routerLink="/registration"> Registration</a></span>
            </div>  
        </div>    
    </form>


</div>
