body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#name {
    text-align: center;
    font-size: 20px;
    margin: 100px 0 10px;
}

#outer_table {
    text-align: center;
    margin: 0 570px;
    border: 2px solid black;
    border-collapse: collapse;

}

#inner_table {
    margin: 5px;
    border: 2px solid black;
}

th, td {
    border: 2px solid black;
    font-size: 17px;
    padding: 5px;
    
}