<div class="container">   
    <h2 id="heading" >Sign Up</h2> 
    <form [formGroup]="form" class="row"> 
        
        <!-- username -->
        <div class="form-group col-md-12">    
            <label for="userName">Username</label>    
            <input 
                formControlName="userName" 
                type="text" 
                name="userName" 
                class="form-control"
                #userName />

            <!-- error -->
            <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger">
                <div *ngIf="userName.errors.required">Please, Enter Email</div>
            </div> 
        </div>    

        <!-- password -->
        <div class="form-group col-md-12">    
            <label for="password">Password</label>    
            <input 
                formControlName="password" 
                type="password" 
                name="password" 
                class="form-control"
                #userPassword />  

            <!-- error -->
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">Please, Enter Password</div>
            </div>  
        </div>  
        
        <!-- login -->
        <!-- Calling SignIn Api from AuthService -->
        <div class="form-group row">
            <div>
                <button type="button" class="btn btn-sm btn-info ml-5" routerLink="/home"> <- Back</button> 
                <button type="button" class="btn btn-sm btn-success ml-2" (click)="authService.registration(userName.value, userPassword.value)">Sign Up</button> 
            </div>

            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn btn-sm btn-danger ml-2" (click)="authService.googleAuth()">Sign Up with Google</button>
            </div>

            <div>
                <span class="ml-2">Already have an account ? <a class="redirect" routerLink="/login">Log In</a></span>
            </div>  
        </div>    
    </form>

</div>