<h3>Toastr Notification Example</h3><br>

<div class="d-flex justify-content-around container">
    <button class="btn btn-success" (click)="showSuccess('Data shown successfully !!', 'Success')">
        Success Toaster
    </button>
      
    <button class="btn btn-danger" (click)="showError('Data shown Error !!', 'Error')">
        Error Toaster
    </button>
    
    <button class="btn btn-info" (click)="showInfo('Data shown Info !!', 'Information')">
        Info Toaster
    </button>
    
    <button class="btn btn-warning" (click)="showWarning('Data shown Warning !!', 'Warning')">
        Warning Toaster
    </button>

</div>